<html>
<head>
<title>Demon Drive email</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (HTML_Email_v02.psd) -->
<table id="Table_01" width="746" height="1401" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#000000">
<tr>
		<td>&nbsp;</td>
  <td colspan="2">
			<a href="http://www.demon-drive.com/?email-mgm"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_02.jpg" alt="" width="101" height="56" border="0" style="display:block;"></a></td>
	<td colspan="7"><font size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">To ensure delivery to your inbox, please add<BR>
    </font><a href="#"><font size="2" color="#ba3530" face="Arial, Helvetica, sans-serif">CallawayGolf@contact.callawaygolf.com</font></a> <font size="2" color="#FFFFFF" face="Arial, Helvetica, sans-serif">to your address book</font></td>
<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="56" alt=""></td>
  </tr>
	<tr>
		<td width="27" rowspan="14">&nbsp;</td>
<td  colspan="8" rowspan="14" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="691" height="80" colspan="2"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_05.jpg" width="691" height="80" alt=""></td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33" height="111" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="384" height="111" bgcolor="#FFFFFF"><font size="6" color="#000000" face="Arial, Helvetica, sans-serif" style="font-size:38px"><b>&#8220;${senderName} has challenged you&#8221;</b></font><br/>
          </td>
        <td width="274" height="111"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_09.jpg" width="274" height="111" alt=""></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33" rowspan="2" bgcolor="#FFFFFF">&nbsp;</td>
        <td width="253"><a href="http://www.demon-drive.com/?email-mgm"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_11.jpg" alt="" width="253" height="62" border="0"></a></td>
        <td width="405" height="192" rowspan="2"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_12.jpg" width="405" height="192" alt=""></td>
      </tr>
      <tr>
        <td width="253" height="130"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_13.jpg" width="253" height="130" alt=""></td>
        </tr>
      
    </table></td>
  </tr>
  <tr>
    <td colspan="2"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_14.jpg" width="691" height="161" alt=""></td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="346"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_15.jpg" width="346" height="20" alt=""></td>
        <td><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_16.jpg" width="345" height="20" alt=""></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="346" valign="top" bgcolor="#DCE0E1"><table width="100%" border="0" cellspacing="0" cellpadding="0" height="354">
          <tr>
            <td width="33" bgcolor="#DCE0E1">&nbsp;</td>
            <td valign="top" bgcolor="#DCE0E1"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000" style="line-height:16pt;">Hola!<br>
            I&#8217;m Alvaro Quiros, the longest driver on the European Tour, and I hear ${senderName} is more of a demon driver than you. That&#8217;s what ${senderName} says anyway. You can prove otherwise by taking the Demon Drive Challenge and beating ${senderName}&#8217;s score. Use the new Diablo Edge Drivers to experience your most explosive shots as you blast your way through five European cities. If you&#8217;re hot enough you could win a full set of Callaway Golf Clubs including a Diablo Edge or a Diablo Edge Tour Driver, all customised to you and your swing.<br />
                  <br />
              Good Luck. ${senderName} says you&#8217;ll need it.</font></td>
            <td width="15" valign="top" bgcolor="#DCE0E1">&nbsp;</td>
          </tr>
        </table></td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="16" height="322" rowspan="2" valign="top" bgcolor="#A9ABAA"><img style="display:block;" src="http://www.demon-drive.com/template/images/HTML_Email_v02_19.jpg" width="16" height="322" alt="" /></td>
            <td width="281" valign="top" bgcolor="#A9ABAA"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_20.jpg" alt=""></td>
            <td rowspan="2"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_21.jpg" width="48" height="322" alt=""></td>
          </tr>
          <tr>
            <td valign="top" bgcolor="#A9ABAA"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000" style="line-height:16pt;">If you win the Demon Drives Challenge, you&#8217;ll walk away with a full set of customised Callaway Golf clubs, including a Diablo Edge Tour Driver. There&#8217;s also a Diablo Edge Driver for each of the nine runners up. So what are you waiting for?  <br />
            </font><a href="http://www.demon-drive.com/?email-mgm"><font size="2" face="Arial, Helvetica, sans-serif" color="#ba3530"> <b>Accept the challenge</b></font></a></td>
          </tr>
          
          <tr>
            <td colspan="3"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_23.jpg" width="345" height="32" alt=""></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="346"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="33" rowspan="2" bgcolor="#DCE0E1">&nbsp;</td>
        <td><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_25.jpg" width="313" height="44" alt=""></td>
      </tr>
      <tr>
        <td><table id="Table_" width="313" height="25" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="25" bgcolor="#DCE0E1">&nbsp;</td>
            <td width="25" bgcolor="#DCE0E1">&nbsp;</td>
            <td width="25" bgcolor="#DCE0E1">&nbsp;</td>
            <td width="25" bgcolor="#DCE0E1">&nbsp;</td>
            <td width="25" bgcolor="#DCE0E1">&nbsp;</td>
            <td width="26" height="25" bgcolor="#DCE0E1">&nbsp;</td>
            <td><img src="http://www.demon-drive.com/template/images/social_media_07.jpg" width="162" height="25" alt=""></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="345" rowspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="16"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_26.jpg" width="16" height="363" alt=""></td>
        <td width="281" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_27.jpg" width="281" height="231" alt=""></td>
            </tr>
          <tr>
            <td height="132" bgcolor="#ABADAC"><font size="2" face="Arial, Helvetica, sans-serif" color="#000000" style="line-height:16pt;">Recommend three friends to the game and you&#8217;ll be entered into a daily prize draw to win a dozen Big Bertha Diablo Golf Balls. With a prize draw everyday for 100 days, you&#8217;ll have 100 chances to win. </font><br />
              <a href="http://www.demon-drive.com/?email-mgm"><font size="2" face="Arial, Helvetica, sans-serif" color="#ba3530"> <b>Challenge a friend</b></font></a></td>
          </tr>
        </table></td>
        <td width="48"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_28.jpg" width="48" height="363" alt=""></td>
      </tr>
      <tr>
        <td colspan="3"><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_32.jpg" width="345" height="41" alt=""></td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td><img src="http://www.demon-drive.com/template/images/HTML_Email_v02_30.jpg" width="346" height="335" alt=""></td>
  </tr>
</table></td>
	  <td width="27" rowspan="14">&nbsp;</td>
<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="80" alt=""></td>
	</tr>
	<tr>
	  <td>
		  <img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="111" alt=""></td>
	</tr>
	<tr>
	  <td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="62" alt=""></td>
	</tr>
	<tr>
	  <td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="130" alt=""></td>
	</tr>
	<tr>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="161" alt=""></td>
	</tr>
	<tr>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="20" alt=""></td>
	</tr>
	<tr>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="188" alt=""></td>
	</tr>
	<tr>
	  <td>
	  <img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="134" alt=""></td>
	</tr>
	<tr>
	  <td>
		  <img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="32" alt=""></td>
	</tr>
	<tr>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="44" alt=""></td>
	</tr>
	<tr>
	  <td>
		  <img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="162" alt=""></td>
	</tr>
	<tr>
	  <td>
	  <img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="132" alt=""></td>
	</tr>
	<tr>
	  <td>
		  <img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="41" alt=""></td>
	</tr>
	<tr>
		<td height="22" colspan="10">&nbsp;</td>
<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="1" height="22" alt=""></td>
	</tr>
	<tr>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="27" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="33" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="68" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="185" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="60" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="16" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="55" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="226" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="48" height="1" alt=""></td>
		<td>
			<img style="display:block;" src="http://www.demon-drive.com/template/images/spacer.gif" width="27" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
</body>
</html>